@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 12px;
  font-family: "Spartan", sans-serif;
  color: var(--clr-Very-Dark-Gray);
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* Colors =============================== */
:root {
  --clr-Dark-Gray: hsl(0, 0%, 63%);
  --clr-Black: hsl(0, 0%, 0%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-Very-Dark-Gray: hsl(0, 0%, 27%);
}
/* Burger ================================== */
.menu-icon {
  z-index: 19;
  position: relative;
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.menu-icon-line {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: #fff;
}
.menu-icon-line::before {
  position: absolute;
  left: 0;
  top: -8px;
  content: "";
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon-line::after {
  position: absolute;
  left: 0;
  top: 8px;
  content: "";
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}
.menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  background-color: var(--clr-Dark-Gray);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  background-color: var(--clr-Dark-Gray);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
/* Burger nav ============================== */
.header__burger {
  display: none;
  cursor: pointer;
}
.burger__nav {
  display: none;
  transition: all 0.4s ease-in;
}
.burger__nav--active {
  transform: translateX(-100vw);
}

/* Top section ============================= */
.top-section {
  display: flex;
}
/* Header ================================ */
.header {
  display: flex;
  display: flex;
  align-items: flex-start;
  text-transform: lowercase;
  width: 60%;
  position: relative;
  height: 65vh;
}
.header-image {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  z-index: -1;
}
.header-image__item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}
.header-image .header-image__item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
.header__logo {
  padding: 5rem 5rem 0 5rem;
}
.header__nav {
  display: flex;
  padding: 5rem 0 0;
}
.header__nav a {
  color: var(--clr-White);
  margin-right: 3rem;
  position: relative;
  font-size: 1.3em;
}
.header__nav a:after {
  position: absolute;
  content: "";
  height: 0.1rem;
  width: 1.6rem;
  z-index: 2;
  bottom: -8px;
  left: calc(50% - 7px);
  background: transparent;
  transition: all 0.3s linear;
}
.header__nav a:hover:after {
  background: var(--clr-White);
}
/* Buttons =================================== */
.btns {
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  transform: translateX(100%);
}
.btns__btn--prev {
  display: inline-block;
  border-style: none;
  height: 5vw;
  width: 5vw;
  background-color: var(--clr-Black);
  transition: all 0.2s linear;
}
.btns__btn--prev:hover {
  background-color: var(--clr-Very-Dark-Gray);
}
.btns__btn--next {
  display: inline-block;
  border-style: none;
  height: 5vw;
  width: 5vw;
  background-color: var(--clr-Black);
  transition: all 0.2s linear;
}
.btns__btn--next:hover {
  background-color: var(--clr-Very-Dark-Gray);
}
/* Right section ======================= */
.right-part {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  display: none;
}
.content__title {
  color: var(--clr-Black);
  font-size: 3em;
  margin-bottom: 2rem;
  line-height: 1.1;
}
.content__text {
  color: var(--clr-Dark-Gray);
  line-height: 1.5;
  margin-bottom: 2rem;
}
.content__link {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.9em;
  color: var(--clr-Black);
  transition: all 0.2s linear;
}
.content__link path {
  transition: all 0.2s linear;
}
.content__link:hover {
  color: var(--clr-Dark-Gray);
}
.content__link:hover path {
  fill: var(--clr-Dark-Gray);
}
.content__link svg {
  margin-left: 15px;
}
.right-part .content {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
/* animacion ============================== */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Footer ==================================== */
.footer {
  display: flex;
  height: 35vh;
}
.footer-image {
  display: flex;
  width: 30%;
}
.footer-image--left {
  background-image: url(../images/image-about-dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer-image--right {
  background-image: url(../images/image-about-light.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer-content {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-content-wrapper {
  max-width: 80%;
}
.footer-content__title {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--clr-Black);
  margin-bottom: 1rem;
}
.footer-content__text {
  line-height: 1.5;
  color: var(--clr-Dark-Gray);
}
/* Media Querys ======================================= */
@media (max-width: 991px) {
  /* Burger menu */
  .menu-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 0 5rem;
    z-index: 11;
  }
  .burger__nav {
    display: flex;
    position: absolute;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(173, 173, 173, 0.5);
    z-index: 10;
    position: fixed;
  }
  .burger__nav ul {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    width: 100%;
    height: 150px;
    align-items: center;
  }

  .burger__nav a {
    color: var(--clr-Black);
    font-weight: 700;
    margin-right: 2rem;
  }

  /* Header */
  .header {
    width: 50%;
    display: flex;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    margin: 0 auto;
    padding: 5.5rem 0rem 0 0rem;
  }
  .right-part {
    width: 50%;
  }
  /* Footer */
  .footer-content {
    width: 50%;
  }
  .footer-image--left {
    display: none;
  }
  .footer-image {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* right section */
  .content__title {
    font-size: 2em;
    margin-bottom: 2rem;
    line-height: 1;
  }
  .content__text {
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .content.active {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
  /* Footer */
  .footer-content__title {
    font-size: 0.9em;
  }
}
@media (max-width: 600px) {
  /* top section */
  .top-section {
    flex-direction: column;
  }
  /* Burger menu */
  .menu-icon {
    margin: 5rem 0 0 2rem;
  }
  /* Header */
  .header {
    width: 100%;
  }
  .header__logo {
    margin: 0 auto;
  }
  /* Buttons */
  .btns {
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    transform: translateX(0);
  }
  .btns__btn--prev {
    height: 4rem;
    width: 4rem;
  }
  .btns__btn--next {
    height: 4rem;
    width: 4rem;
  }
  .right-part {
    width: 100%;
  }
  /* Footer */
  .footer {
    display: block;
  }
  .footer-content {
    width: 100%;
    margin-bottom: 5rem;
  }
  .footer-image--left {
    display: block;
  }
  .footer-image {
    width: 100%;
    display: block;
    height: 20rem;
    margin-bottom: 5rem;
  }
  .footer-image:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  /* burger */
  .burger__nav a {
    margin-right: 1rem;
  }
}
